body { 
  margin:5px;
  background-color: #aabbbb
}
div.api {
  margin:5px;
  background-color: #dddddd
}

form.pure-form {
  padding:5px;
  background-color: #ddeeee
}

h4 {
  padding:5px;
  background-color: #dddddd
}
