[Unit]
Description=cadvisor
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/core
Type=oneshot
RemainAfterExit=yes 
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStart=/bin/bash -c "./run_cadvisor.sh"
ExecStop=/usr/bin/docker stop cadvisor
ExecStopPost=/usr/bin/docker rm cadvisor

[Install]
WantedBy=multi-user.target
