[Unit]
Description=carnation
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/core
Type=oneshot
RemainAfterExit=yes 
TimeoutStartSec=0
ExecStart=/bin/bash -c "./run_carnation.sh"
ExecStop=/usr/bin/docker stop carnation
ExecStopPost=/usr/bin/docker rm carnation

[Install]
WantedBy=multi-user.target
